

<div class="content">
    <section>

        <!-- Main Content -->
        <article class="main-content">

            <h1>Provider Services Avaliable</h1>

            <h3>Coming Soon</h3>
                
        </article>

        <!-- Sidebar Ads -->
        <article class="sidebar">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
        </article>

    </section>
</div>   

