

<div class="content">

        <!-- Main Content -->
        <article class="main-content">

            <h1>{{provider[0].name}}</h1>
            <hr/>
            <h3>{{provider[0].address}}</h3>
            <h2>Facilities and Services</h2>

            <br/>
            <p>{{provider[0].description}}</p>
            <p>{{provider[0].legal_name}}</p>

            <div>
              <table class='table'>
                <title id=''>Table of Services</title>
                <tr>
                    <th width=20%>Services</th>
                    <th width=20%>Availability</th>
                    <th width=20%>Notes</th>
                </tr>

                <tr>
                    <td>Additional Activities</td>
                    <td>{{provider[0].additional_activities | ngbool }}</td>
                    <td>
                        {{provider[0].additional_activities_list}}
                    </td>
                </tr>

                <tr>
                    <td>Age Range</td>
                    <td>{{provider[0].age_range}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Air Conditioning</td>
                    <td>{{provider[0].air_conditioning | ngbool }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Approval Granted</td>
                    <td>{{provider[0].approval_granted_on | date}}</td>
                    <td>Date approval to operate was granted.</td>
                </tr>

                <tr>
                    <td>Approval Number</td>
                    <td>{{provider[0].approval_number}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Approved Places</td>
                    <td>{{provider[0].approved_places}}</td>
                    <td>Number of children approved for {{provider[0].name}}.</td>
                </tr>

                <tr>
                    <td>Bus Service</td>
                    <td>{{provider[0].bus_service | ngbool }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Conditions for Approval</td>
                    <td>{{provider[0].conditions_on_approval}}</td>
                    <td>Set when approved to enroll children.</td>
                </tr>

                <tr>
                    <td>Cloth Nappies</td>
                    <td>{{provider[0].cloth_nappies | ngbool }}</td>
                </tr>

                <tr>
                    <td>Disability Friendly</td>
                    <td>{{provider[0].disability_friendly | ngbool }}</td>
                    <td>{{provider[0].disabilities_list}}</td>
                </tr>

                <tr>
                    <td>Cloth Nappies</td>
                    <td>{{provider[0].cloth_nappies | ngbool }}</td>
                </tr>

                <tr>
                    <td>Excursions</td>
                    <td>{{provider[0].excursions | ngbool }}</td>
                </tr>

                <tr>
                    <td>Extended Hours for Kindys</td>
                    <td>{{provider[0].extended_hours_for_kindys | ngbool }}</td>
                </tr>

                <tr>
                    <td>Fee</td>
                    <td>{{provider[0].fee}}</td>
                    <td>Normally $/hr.</td>
                </tr>

                <tr>
                    <td>Food Provided</td>
                    <td>{{provider[0].food_provided | ngbool }}</td>
                </tr>

                <tr>
                    <td>Guest Speakers</td>
                    <td>{{provider[0].guest_speakers | ngbool }}</td>
                </tr>

                <tr>
                    <td>Hours</td>
                    <td>{{provider[0].hours}}</td>
                </tr>
                <tr>
                    <td>Kindergarten</td>
                    <td>{{provider[0].kindergarten | ngbool }}</td>
                </tr>

                <tr>
                    <td>Languages</td>
                    <td>{{provider[0].languages | ngbool }}</td>
                    <td>{{provider[0].languages_list}}</td>
                </tr>

                <tr>
                    <td>NQS Rating</td>
                    <td>{{provider[0].NQS_rating}}</td>
                </tr>

                <tr>
                    <td>Online Enrollment</td>
                    <td>{{provider[0].online_enrollment | ngbool }}</td>
                </tr>

                <tr>
                    <td>Outdoor Play Area</td>
                    <td>{{provider[0].outdoor_play_area | ngbool }}</td>
                </tr>

                <tr>
                    <td>Provider Approval Number</td>
                    <td>{{provider[0].provider_approval_number}}</td>
                </tr>

                <tr>
                    <td>Quality Overall Rating</td>
                    <td>{{provider[0].quality_overall_rating}}</td>
                </tr>


                <tr>
                    <td>Overall Rating</td>
                    <td>{{provider[0].quality_overall_rating}}</td>
                </tr>

                <tr>
                    <td>Real Grass</td>
                    <td>{{provider[0].real_grass | ngbool }}</td>
                </tr>

                <tr>
                    <td>Secure Access</td>
                    <td>{{provider[0].secure_access | ngbool }}</td>
                </tr>

                <tr>
                    <td>Service Approval Number</td>
                    <td>{{provider[0].service_approval_number}}</td>
                </tr>

                <tr>
                    <td>Sibling Priority</td>
                    <td>{{provider[0].sibling_priority | ngbool }}</td>
                </tr>

                <tr>
                    <td>Technology</td>
                    <td>{{provider[0].technology | ngbool }}</td>
                    <td>{{provider[0].technologies_list}}</td>
                </tr>

                <tr>
                    <td>Type of Care</td>
                    <td>{{provider[0].care_offered | ngbool }}</td>
                </tr>

                <tr>
                    <td>URL (Web Site)</td>
                    <td><a href="{{provider[0].url}}", target: '_blank'>{{provider[0].url}}</a></td>
                </tr>

                <tr>
                    <td>Vacancies</td>
                    <td>{{provider[0].vacancies | ngbool }}</td>
                    <td>{{provider[0].vacancies_list}}</td>
                </tr>

                <tr>
                    <td>Vaccinations Are Compulsory</td>
                    <td>{{provider[0].vaccinations_compulsory | ngbool }}</td>
                </tr>

                <tr>
                    <td>Waitlist Fee</td>
                    <td>{{provider[0].waitlist_fee | currency}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Waitlist Online</td>
                    <td>{{provider[0].waitlist_online | ngbool }}</td>
                </tr>

                <tr>
                    <td>Waitlist Fee Re-imbursed</td>
                    <td>{{provider[0].waitlist_reimbursed}}</td>
                </tr>

                <tr>
                    <td>Date Created</td>
                    <td>{{provider[0].created_at | date}}</td>
                    <td>Date first appeared in Daycare Decisions.</td>
                </tr>

                <tr>
                    <td>Date Updated</td>
                    <td>{{provider[0].updated_at | date}}</td>
                    <td>Most recent change date.</td>
                </tr>
               </table>
            </div>

              	
        </article>

        <!-- Sidebar Ads -->
        <article class="sidebar">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
        </article>

</div>   