= semantic_form_for solution, :url => calculate_admin_project_quote_solutions_path(:project_id => @project, :quote_id => @quote) do |f|
  = f.buttons do
    = f.commit_button "Calculate", :id => "calculate_solution"
