/_boilerplate.html.haml
%br
%em
  %strong
    By signing each docket you agree to give number of loads, hours worked and volume/s on docket, any dispute must be made immediately with the subcontractor.  All signed dockets are payable in full with no disputes recognized.